<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autorzy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body class="main">
        <div>
            <h2>Autorzy</h2>
            <table>        
                {% for author in authors_list %}
                    <tr>          
                        <td>{{ author }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>