table, th, tr, td {
    border: 1px solid black;
}
.main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
    margin-top: 200px;
    margin: auto;
    width: 50%;
}