<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="main">
    <div>
        <h2> Zmień: </h2>
        <form method="POST" action="/books/{{ book_id }}/">
            {{ form.hidden_tag() }}
            <table>
                {% for field in form if field.widget.input_type != 'hidden' %}
                    <tr>
                        <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Go">
        </form>
    </div>
</body>
</html>